<!DOCTYPE html>
<section id="categories-page">
  <div class="container categories-page">
    <h3>Seafood</h3>
    <p>Seafood description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vitae aliquam cupiditate vel laudantium sapiente aut molestias asperiores voluptatum maiores possimus soluta ad dicta quod vero inventore, voluptates ducimus beatae!</p>

    <ul>
      <app-category-item [itemName]="'Baked salmon with fennel & tomatoes and something else'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Shrimp Chow Fun'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Salmon Avocado Salad'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Portuguese fish stew (Caldeirada de peixe)'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Nasi lemak'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Mediterranean Pasta Salad'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Baked salmon with fennel & tomatoes'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Baked salmon with fennel & tomatoes'" [itemImg]="'https://www.themealdb.com/images/media/meals/xquakq1619787532.jpg'" />
      <app-category-item [itemName]="'Spring onion and prawn empanadas'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Baked salmon with fennel & tomatoes'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Baked salmon with fennel & tomatoes'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Baked salmon with fennel & tomatoes'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
      <app-category-item [itemName]="'Sledz w Oleju (Polish Herrings)'" [itemImg]="'https://www.themealdb.com/images/media/meals/1548772327.jpg'" />
    </ul>
  </div>
</section>
