<!DOCTYPE html>
<section id="categories-page">
  <div class="container categories-page">
    <div class="heading-div">
      <h3>{{ currentCategory() }}</h3>
      <a routerLink="/">Back</a>
    </div>
    <!-- todo: get description from previous api -->

    @if (loading()) {
      <div>Loading...</div>
    } @else {
      <ul>
        @for (meal of mealsForThisCategory(); track meal.idMeal) {
          <app-category-item [itemId]="meal.idMeal" [itemName]="meal.strMeal" [itemImg]="meal.strMealThumb" />
        }
      </ul>
    }
  </div>
</section>
