.movies-list {
  display: grid;
  grid-gap: 1rem 4rem;
  grid-template-columns: repeat(4, 1fr);
}

.list-div h2 {
  margin: 2rem 0;
}

.movie-card  {
  margin-bottom: 5rem;
  transition: all 0.3s ease-in-out;
}

.movie-card:hover  {
  cursor: pointer;
  transform: scale(1.05);
}

.card-poster-div,
.card-poster-div img {
  width: 100%;
}

.movie-card .title {
  margin: 0.2rem 0;
}

@media screen and (max-width: 800px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .movies-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
