.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.header-app-name {
  position: relative;
}

.header-app-name-bg {
  width: 3rem;
  height: 3rem;
  border-radius: 50vw;
  background-color: var(--color-primary);
}

.header-app-name p {
  position: absolute;
  bottom: 0rem;
  left: 1.5rem;
  background-color: var(--color-gray-100);
  padding: 0.1rem;
  font-weight: bold;
}

.header-search-box {
  display: flex;
  gap: 1.5rem;
  background-color: transparent;
  border: solid 1px #999696;
  padding: 0.5rem;
  border-radius: 5rem;
  align-items: center;
}

.header-search-box div {
  background-color: var(--color-secondary);
  padding: 0.5rem;
  border-radius: 50vw;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
}

.header-search-box div > * {
  font-weight: bold;
}

input {
  background-color: var(--color-gray-100);
  width: fit-content;
  border: solid 1px blue;
}