<!DOCTYPE html>
<section id="categories">
  <div class="container categories-container">
    <h3>Categories</h3>
    <ul class="category-list">
      <app-category-item [itemName]="'Beef'" [itemImg]="'recipe1.jpg'" />
      <app-category-item [itemName]="'Seafood'" [itemImg]="'recipe1.jpg'" />
      <app-category-item [itemName]="'Meat'" [itemImg]="'recipe1.jpg'" />
      <app-category-item [itemName]="'Something'" [itemImg]="'recipe1.jpg'" />
      <app-category-item [itemName]="'Beef'" [itemImg]="'recipe1.jpg'" />
      <app-category-item [itemName]="'Beef'" [itemImg]="'recipe1.jpg'" />
      <app-category-item [itemName]="'Beef'" [itemImg]="'recipe1.jpg'" />
      <app-category-item [itemName]="'Beef'" [itemImg]="'recipe1.jpg'" />
    </ul>
  </div>
</section>

