<!DOCTYPE html>
<article id="hero">
  <div class="container hero-container">
    <div class="hero-left">
      <small>Your Kitchen, Your Guide</small>
      <p class="hero-left-h">It's All About Amazing Food & Taste</p>
      <p>Whip up something wonderful! This is where recipes come to life. A bite of inspiration, every time! Make the perfect meal you crave!</p>
      <button class="btn primary" (click)="handleButtonClick()">See a random recipe</button>
    </div>
    <div class="hero-right">
      <img src="recipe1.jpg" alt="Nice Dish">
    </div>
  </div>
</article>
