.category-item {
  border: solid 1px #ddd;
  padding: 1rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  border-radius: var(--radius-2);
  box-shadow: 0 2rem 2rem -1rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* Todo: Fix height. Make it consistent */
}

.category-item:hover {
  cursor: pointer;
  box-shadow: 0 -2rem 2rem -1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.4rem);
}

.category-item p {
  font-weight: bold;
  text-align: center;
}

img {
  width: 7rem;
  height: 7rem;
  border-radius: var(--radius-2);
  box-shadow: 0 2rem 2rem -1rem rgba(0, 0, 0, 0.2);
}
