<!DOCTYPE html>
<div class="container">
  <button class="go-back" (click)="onBackButton()">Go Back</button>
</div>
<div class="container single-meal-container">
  <div class="left">
    <div class="head">
      <h5>Ingredients</h5>
      <p>Measure</p>
    </div>
    <div class="body">
      @for (item of ingredientMeasuresList(); track $index) {
        <div class="ingredient-measure">
          <span>{{ item['ingredient'] }}</span>
          <span>{{ item['measure'] }}</span>
        </div>
      }
    </div>
  </div>
  <div class="right">
    <div class="meal-img-box">
      <img [src]="currentMeal().strMealThumb" alt="">
      <span class="meal-category">{{ currentMeal().strCategory}}</span>
      <span class="meal-fav-icon">#</span>
      <span class="meal-name">{{ currentMeal().strMeal }}</span>
    </div>
    <div class="meal-tags-and-area">
      <span>Meat</span>
      <span>Chicken</span>
      <span>Japanese</span>
    </div>
    <div class="meal-directions">
      <small>Instructions</small>
      <p [innerHTML]="formattedText(currentMeal().strInstructions)"></p>
    </div>
    <!-- <div class="meal-video">
      [Todo]
    </div> -->
  </div>
</div>
